script(type='text/ng-template', id='yo-login-form-tpl')
  div.span3
  div.span6
    div.well
      div.message.alert.alert-error.hide
      form.form-horizontal
        div.control-group
          label.control-label(for='iEmail') E-mail:
          div.controls
            input(type='text', id='iEmail', inputmode='email', placeholder='email address', ng-model='email', required)
        div.control-group
          label.control-label(for='iPassword') Password:
          div.controls
            input(type='password', id='iPassword', inputmode='verbatim', ng-model='password', required)
        div.control-group
          div.controls
            button.btn(type='submit', id='login_button', ng-click='login()') Login
        div.control-group
          div.controls
            p Need to register? 
              a(href='#/register') Register here
  div.span3

script(type='text/ng-template', id='yo-register-form-tpl')
  div.span3
  div.span6
    div.well
      div.message.alert.alert-error.hide
      form.form-horizontal
        div.control-group
          label.control-label(for='iFirstname') First name:
          div.controls
            input(type='text', id='iFirstname', inputmode='verbatim', placeholder='first name', ng-model='firstname', required)
        div.control-group
          label.control-label(for='iLastname') Last name:
          div.controls
            input(type='text', id='iLastname', inputmode='verbatim', placeholder='last name', ng-model='lastname', required)
        div.control-group
          label.control-label(for='iEmail') E-mail:
          div.controls
            input(type='text', id='iEmail', inputmode='email', placeholder='email address', ng-model='email', required)
        div.control-group
          label.control-label(for='iPassword') Password:
          div.controls
            input(type='password', id='iPassword', inputmode='verbatim', ng-model='password', required)
        div.control-group
          div.controls
            button.btn(type='submit', id='reg_button', ng-click='register()') Register
        div.control-group
          div.controls
            p Back to 
              a(href='#/login') login
  div.span3

script(type='text/ng-template', id='yo-logout-tpl')
  div Thank You!

script(type='text/ng-template', id='yo-home-tpl')
  div.span3
    ul.nav.nav-list.bs-docs-sidenav.affix
      li: a(href='#/') Decals
        i.icon-chevron-right
      li: a(href='#/') Windows
        i.icon-chevron-right
  div.span9(ng-controller='yoProductCtrl')
    div.loading Loading...
    ul.media-list
      li.media(ng-repeat='item in model.products', data-yo-product-detail-short)

script(type='text/ng-template', id='yo-product-detail-short-tpl')
  a.pull-left(href='#')
    img.media-object(src='img/1.png', width='120px', heigh='120px')
  div.media-body
    h4.media-heading {{item.name}}
    p {{item.desc}}
    p Size: {{item.default_width}}" X {{item.default_height}}"
    p Quantity: 
      input.quantity(type='number', min='1', inputmode='numeric', value='{{new_quantity}}')
    p Price: ${{item.price}}
    p 
      a.add-btn.btn.btn-primary(ng-click='add()') Add
      a.remove-btn.btn.hide(ng-click='remove()') Remove
  hr

script(type='text/ng-template', id='yo-user-items-tpl')
  li: a(href='#/orders') Orders
  li: a(href='#/account') Account
  li: a(href='#/logout') Logout

script(type='text/ng-template', id='yo-basket-items-tpl')
  |- {{item.name}}

script(type='text/ng-template', id='yo-checkout-tpl')
  div.span8
    div.span8
      table.table.table-striped
        thead
          tr
            th Name
            th Size
            th Quantity
            th $/unit
            th Total
        tbody
          tr(ng-repeat='item in model.basket', data-yo-checkout-items)
    div.row
      div.span2.pull-right
        table.table
          tr
            td Subtotal
            td ${{order.subtotal}}
          tr
            td Shipping
            td ${{order.shipping}}
          tr
            td Total
            td ${{order.total}}
    div.row
      div.span3.pull-right
        p
          a.btn.btn-primary(href='#', ng-click='checkout()') Checkout
          a.btn(href='#', ng-click='goback()') Go Back
          a.btn(href='#', ng-click='cancel()') Cancel

script(type='text/ng-template', id='yo-checkout-items-table-tpl')
  td {{item.name}}
  td {{item.default_width}}" X {{item.default_height}}"
  td {{item.quantity}}
  td ${{item.price}}
  td ${{item.total}}

script(type='text/ng-template', id='yo-orders-tpl')
//// create order summary layout